<html lang="pl">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
	<meta name="theme-color" content="#41805f">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        MK Namioty
    </title>
	<meta name="google-site-verification" content="9FSWyiNz8TkGmlAX0sy3hKJ3g1StIuKKl3AxjNuC09Y" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" async></script>
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous" async></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async></script>
  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/5.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
          <% if(typeof home !== 'undefined'){ %>
            <li class="nav-item">
              <a class="nav-link active" href="/" id="home">Home</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/" id="home">Home</a>
            </li>
          <% } %>
        	    
              <% if(typeof about !== 'undefined'){ %>
                <li class="nav-item"> 
                  <a class="nav-link active" href="/o-nas" id="about">
                    O nas
                  </a>
                </li>
              <% } else { %>
                <li class="nav-item"> 
                  <a class="nav-link" href="/o-nas" id="about">
                    O nas
                  </a>
                </li>
              <% } %>
                
                <% if(typeof price !== 'undefined'){ %>
                  <li class="nav-item"> 
                    <a class="nav-link active" href="/cennik" id="price">
                      Cennik
                    </a>
                  </li>
                <% } else { %>
                  <li class="nav-item"> 
                    <a class="nav-link" href="/cennik" id="price">
                      Cennik
                    </a>
                  </li>
                <% } %>
				        
                <% if(typeof gallery !== 'undefined'){ %>
                  <li class="nav-item">
                    <a class="nav-link active" href="/gallery" id="gallery">
                      Galeria
                    </a> 
                  </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery" id="gallery">
                      Galeria
                    </a> 
                  </li>
                <% } %>
      
                
                <% if(typeof contact !== 'undefined'){ %>
                  <li class="nav-item">
                    <a class="nav-link active" href="/contact" id="contact">
                      Kontakt
                    </a>
                  </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact" id="contact">
                      Kontakt
                    </a>
                  </li>
                <% } %>
                
			 
               
                  
               
              
                
                  
              
        </ul>
       
      </div>	
        </div>	
     
        
        
    </nav>