<%- include("partials/header") %>

<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-lg-10 col-md-12" id="priceDiv">
            <h2 class="row_name">O nas</h2>
            <p class="about_description text-justify">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti at minima veniam eaque error quidem exercitationem eveniet 
                necessitatibus accusamus doloribus dolorem velit maxime repellat praesentium quos dignissimos suscipit illum, ut, itaque quas 
                tenetur laboriosam? Doloribus veniam voluptatibus suscipit delectus itaque, laudantium est repellendus dolores, aliquam dicta
                 repellat quod voluptatem amet tenetur exercitationem enim voluptas eum dolorem reiciendis perspiciatis, neque praesentium 
                 quas? Placeat, a enim, alias saepe error impedit sequi corporis maxime et quo accusantium aut? Sit perferendis earum voluptatem
                  ad. Neque molestias debitis vero exercitationem incidunt laboriosam magnam pariatur qui possimus suscipit, doloribus earum 
                  eligendi tempore quia eaque aliquam? Nesciunt.
            </p>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-12" style="margin-top: 35px;">
            
                    <img class="img-thumbnail" src="/photos/3_original.jpg" alt="O nas">
                    
                </div>
                <div class="col-lg-6 col-md-12" style="margin-top: 35px;">
            
                    <img class="img-thumbnail" src="/photos/6.jpg" alt="O nas">
                    
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<script>
    $("#about").addClass("active")
</script>
<%- include("partials/footer") %>