<%- include("partials/header") %>

<div class="container">
    <div class="row">
       <div class="col-lg-12" id="priceDiv">
           <div class="row">
               <div class="col-lg-12">
                <h2 class="row_name">Wesela</h2>
               </div>
           
            
             <div class="col-lg-4 col-md-12">
                <img src="/photos/3_original.jpg" alt="" class="img-thumbnail">
             </div>
             <div class="col-lg-4 col-md-12">
                <img src="/photos/10.jpg" alt="" class="img-thumbnail">
             </div>
             <div class="col-lg-4 col-md-12">
                <img src="/photos/5_original.jpg" alt="" class="img-thumbnail">
             </div>
            
             <div class="col-lg-12 text-center" style="margin-top: 30px;">
                 <a href="#" class="btn btn-mine">Zobacz więcej...</a>
             </div>   
             <div class="col-lg-12">
                <h2 class="row_name">Loga</h2>
               </div>
           
            
             <div class="col-lg-4 col-md-12">
                <img src="/photos/Kolorowy.png" alt="" class="img-thumbnail">
             </div>
             <div class="col-lg-4 col-md-12">
                <img src="/photos/Oryginalny.png" alt="" class="img-thumbnail">
             </div>
             <div class="col-lg-4 col-md-12">
                <img src="/photos/Przezroczysty.png" alt="" class="img-thumbnail">
             </div>
            
             <div class="col-lg-12 text-center" style="margin-top: 30px;">
                 <a href="#" class="btn btn-mine">Zobacz więcej...</a>
             </div>   
             <div class="col-lg-12">
                <h2 class="row_name">Ulotkowe</h2>
               </div>
           
            
             <div class="col-lg-4 col-md-12">
                <img src="/photos/Stoly.jpg" alt="" class="img-thumbnail">
             </div>
             <div class="col-lg-4 col-md-12">
                <img src="/photos/Ulotka stona 1.png" alt="" class="img-thumbnail">
             </div>
             <div class="col-lg-4 col-md-12">
                <img src="/photos/Ulotka strona 2.png" alt="" class="img-thumbnail">
             </div>
            
             <div class="col-lg-12 text-center" style="margin-top: 30px;">
                 <a href="#" class="btn btn-mine">Zobacz więcej...</a>
             </div>   
           </div>
           <br>
       </div>
       
       
    </div>
</div>
<script>
    $("#gallery").addClass("active")
</script>
<%- include("partials/footer") %>