<%- include("partials/header") %>

<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-lg-10 col-md-12" id="priceDiv">
            <h2 class="row_name">
                Cennik
                <br>
                <span class="footer" style="font-size: 18px; margin-top: 50px;font-weight: 400;">Cena obejmuje 2 dni najmu</span>
            </h2>
           <hr>
            <div class="about_description">
                <p class="float-left">
                    <strong>Namiot 4x6</strong>
                </p>
                <p class="float-right">350zł</p>
            </div>
            <hr style="clear: both;">
            <div class="about_description">
                <p class="float-left">
                    <strong>Stół okrągły</strong>
                </p>
                <p class="float-right">55zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Stół prostokątny</strong>
                </p>
                <p class="float-right">35zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Stół barowy</strong>
                </p>
                <p class="float-right">30zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Krzesło drewniane</strong>
                </p>
                <p class="float-right">8zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Hoker</strong>
                </p>
                <p class="float-right">8zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Tuja w doniczce</strong>
                </p>
                <p class="float-right">10zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Latarnia na świece</strong>
                </p>
                <p class="float-right">10zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Wazon szklany</strong>
                </p>
                <p class="float-right">2zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Taca kelnerska</strong>
                </p>
                <p class="float-right">5zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Śmietnik 30L</strong>
                </p>
                <p class="float-right">15zł</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Obrus</strong>
                </p>
                <p class="float-right">Gratis</p>
            <hr style="clear: both;"></div>
            <div class="about_description">
                <p class="float-left">
                    <strong>Podstawowe oświetlenie</strong>
                </p>
                <p class="float-right">Gratis</p>
            </div>
            <hr style="clear:both">
            <h2 class="row_name">
                Dodatkowe informacje
                
                
            </h2>
            <p class="additional">
                <em>
                    <strong>
                        Każdy kolejny dzień najmu +20%
                    </strong>
                </em>
            </p>
            <p class="additional">
                <em>
                    <strong>
                        Przy wynajmie na 1 dzień cena nie ulega zmianie
                    </strong>
                </em>
            </p>
            <p class="additional">
                <em>
                    <strong>
                        Transport do 10km GRATIS
                        <br>
                        (każdy kolejny km 3zł)
                    </strong>
                </em>
            </p>
            <p class="additional">
                <em>
                    <strong>
                        Montaż/Demontaż GRATIS
                    </strong>
                </em>
            </p>
           <hr>
            <div class="row">
                <div class="col-lg-6 col-md-12" style="margin-top: 35px;">
                    <img class="img-thumbnail" src="/photos/Namiot Royal 2.jpg" alt="Namiot Roytal">
                    
                </div>
                <div class="col-lg-6 col-md-12" style="margin-top: 35px;">
                    <img class="img-thumbnail" src="/photos/Oryginalny.png" alt="Namiot Roytal">
                    
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<script>
    $("#price").addClass("active")
</script>
<%- include("partials/footer") %>